*{font-family:arial, sans-serif;}
body{min-width:900px;height:100%;}


.toolbar{
list-style-type:none;
margin: 0;
padding:0;
}
.toolbar li{
display: inline;
float:right;
padding:10px;
}

.toolbar li:hover{text-decoration:underline;}
.toolbar li a{color:#2d2d2d; font-size:13px; line-height:24px}
#signin:link, .toolbar li a:link, #signin:visited, .toolbar li a:visited{text-decoration:none;}
.toolbar li:first-child{padding-right:30px;}
.toolbar li:nth-child(2),.toolbar li:nth-child(3),.toolbar li:nth-child(4){margin-top:5px;}



.apps{
background-color:grey;
height:18px;
width:18px;
position:relative;
}

.apps div{
border:2px solid white;
height:4px; width:4px;
border-radius:.5px;
}

.apps:hover{
background-color:black;
}

#one{
position:absolute;
top:0;left:0;
}

#two{
position:absolute;
top:0;left:6px;
}

#three{
position:absolute;
top:0;left:12px;
}

#four{
position:absolute;
top:6px;left:0;
}

#five{
position:absolute;
top:6px;left:6px;
}

#six{
position:absolute;
top:6px;left:12px;
}

#seven{
position:absolute;
top:12px;left:0;
}

#eight{
position:absolute;
top:12px;left:6px;
}

#nine{
position:absolute;
top:12px;left:12px;
}

#signin{
background-color:#4785F4;
color:white;
padding:0px 12px 0px 12px;
border-radius:2px;
float:right;
font-size:13px;font-weight:700;
line-height:28px;
}

img{position:relative;margin-top:60px;padding-top:60px;}
#google{clear:both;}

#bar{
height:19px; width:550px;
border: 1px solid #d9d9d9;
border-top-color:#c0c0c0;
font-size:16px;
padding:5px 10px 3px 10px;
margin-top:10px;
}

#bar:hover{border-color:#bdbdbd;}
#bar:focus{border-color:#7eabf2}

#gsearch:hover, #lucky:hover{
border-width:1px;
padding:6.5px; 
background-color:#f4f4f4;
border-color:#bdbdbd;
}

#gsearch, #lucky{
background-color:#f1f1f1;
border: .5px solid #d2d2d2;
padding:7px;
font-size:11px;
font-weight: bold;
color:#2d2d2d;
border-radius:2px;
margin-right:10px;
}


.footer{
position:absolute;
background-color:#f1f1f1;
border: .75px solid #d2d2d2;
height:40px;
bottom:0px;
left:0px;
right:0px;
min-width:900px;
}

.footerleft, .footerright{
position:relative;
list-style-type:none;
display: inline;
}

.footerleft{}
.footerright{}

.footerright li a, .footerleft li a{color:#696969; font-size:13px;}
.footerright li{float:right; padding:10px 15px 0 15px;}
.footerleft li{float:left; padding:10px 15px 0 15px;}

.footerleft li:first-child{padding-left:30px;}
.footerright li:first-child{padding-right:30px;}

.footer ul li a:visited{color:#696969;}
.footer ul li a:link{color:#696969;text-decoration:none;}

.footer ul li a:hover{text-decoration:underline;}


